/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Montserrat;
  font-size: 16px;
  color: #333; }

section#top {
  width: 100%;
  background: url("../img/bg_img.jpg") no-repeat center center;
  background-size: cover; }
  section#top h1 span.header_title {
    font-family: Karla;
    display: block;
    text-transform: uppercase;
    font-size: 4.0em;
    line-height: 85%;
    color: #fff;
    margin-left: 96px; }
  section#top #newsletter {
    position: absolute;
    bottom: 15%;
    left: 0;
    margin-left: -20px;
    max-width: 315px;
    cursor: pointer;
    background-color: #777;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    overflow: hidden; }
    section#top #newsletter p.button_text {
      position: relative;
      background-color: #EB484B;
      z-index: 5;
      width: 100%;
      padding: 16px; }
    section#top #newsletter #newsletter_form {
      height: 0px;
      width: 100%;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      transition: all 200ms; }
      section#top #newsletter #newsletter_form #subForm {
        font-size: 18px;
        line-height: 150%;
        font-family: Karla;
        text-align: left;
        visibility: hidden;
        text-transform: initial; }
        section#top #newsletter #newsletter_form #subForm .form_input input {
          width: 100%; }
          section#top #newsletter #newsletter_form #subForm .form_input input:last-child {
            margin-bottom: 16px; }
        section#top #newsletter #newsletter_form #subForm button {
          margin-top: 8px;
          padding: 10px 19px;
          font-size: 17px;
          line-height: 1.471;
          border-radius: 6px;
          color: #fff;
          background-color: #05BCC4;
          font-weight: 400;
          border: none;
          -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
          transition: border .25s linear,color .25s linear,background-color .25s linear;
          -webkit-font-smoothing: subpixel-antialiased;
          display: block;
          width: 100%;
          margin-bottom: 0;
          vertical-align: middle;
          cursor: pointer; }

section#bottom {
  padding: 96px;
  color: #777; }
  section#bottom #message {
    font-size: 30px;
    line-height: 130%;
    font-weight: 400;
    padding-right: 64px;
    color: #333; }
  section#bottom #newsletter_message, section#bottom #partners {
    font-size: 18px;
    line-height: 150%;
    font-family: Karla; }
  section#bottom #partners span {
    font-weight: bold; }
  section#bottom div.line {
    width: 10%;
    margin: 32px 0;
    border-bottom: 3px solid #EB484B; }
  section#bottom div#email a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms; }
    section#bottom div#email a:link {
      color: #777; }
    section#bottom div#email a:visited {
      color: #777; }
    section#bottom div#email a:hover {
      color: #05BCC4; }
  section#bottom img#brand {
    margin: 32px 0; }

.item60 {
  -webkit-box-flex: 1.75;
  -webkit-flex: 1.75;
  -ms-flex: 1.75;
  flex: 1.75;
  width: 60%; }

.item40 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%; }

.center_item40 {
  position: relative;
  height: 100%;
  text-align: center; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.centered {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*# sourceMappingURL=styles.css.map */
